
# Database connection URLs
DATABASE_URL="mysql+pymysql://<user>:<password>@<host>:3306/<db_name>"
CHAT_HISTORY_DATABASE_URL="mysql+pymysql://<user>:<password>@<host>:3306/<chat_db_name>"

# CORS
ALLOWED_ORIGINS=http://localhost:3000

# OpenAI API key (https://platform.openai.com/api-keys)
OPENAI_API_KEY=

# Google API key (for Gemini)
GOOGLE_API_KEY=

# GitHub token (optional)
GITHUB_TOKEN=
